body{
    background-color:beige;
}

h1 {
    color : cornflowerblue;
    transition:color .5s ease-in-out;
}

.clicked{
    color:tomato;   /*어떤 element 에 지정하면 색변함>>javascript 에서 씀*/
    
}

.sexy-font{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}